#thisBody{
  background-color: WhiteSmoke;
}

#itemFormSubmit{
  margin: auto;
  width: 100%;
  text-align: center;
}
.manageItemList{
  text-align: center;
  margin: auto;
}
#submitItem {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: auto;
}

#order_text{
  font-size: 1.2em;
  color: black;
}


#order_card:hover{
  transform: scale(1.03);

}
#order_div{
  text-align: center;
  margin-top: 10px;
}
#order_header{
  font-style: italic;
  color: Maroon;
}
#order_instruction{
  font-size: 1.5em;
  color: navy;
}
@media screen and (max-width:1000px) {
  #order_card:hover{
    transform: none;
  }
}
#menuIcon{
  float:left;
}
#dropdown_background{
  background-color: WhiteSmoke;
}
#tab_menu{
  position: relative;
  text-align: center;
}
.about_p{
  font-size: 1.3em;
}
*{
  touch-action: none;
}
