#thisBody{
  background-color: WhiteSmoke;
}

#itemFormSubmit{
  margin: auto;
  width: 100%;
  text-align: center;
}
.manageItemList{
  text-align: center;
  margin: auto;
}
#submitItem {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: auto;
}

#order_text{
  font-size: 1.2em;
  color: black;
}

#order_card{
  width: 70%;
}
#order_card:hover{
  transform: scale(1.03);
}
#order_div{
  text-align: center;
  margin-top: 10px;
}
#order_header{
  font-style: italic;
  color: Maroon;
}
#order_instruction{
  font-size: 1.5em;
  color: navy;
}
